.navigation
  ul
    li
      a(href="#") Destinations
    li
      a(href="#") Hotels
    li
      a(href="#") Flights
    li
      a(href="#") Bookings
  .user-controls
    ul
      li 
        a.login(href="#") Login
      li 
        a.button.button__sign(href="#") Sign up
  .lang
    button#lang-btn EN
    ul
      li JP
      li UA
      li RU
