.subscription
  .content-wrapper
    .subscription_block
      .subscription_icon
        img(src="assets/images/message_img.svg", alt="Email icon")
      h2 Subscribe to get information, latest news and other interesting offers about Cobham
      form(action="")
        input(type="text" placeholder="Your email")
        button.button.button__orange Subscribe
