.top-block
  .content-wrapper
    .top-block_text
      span Best Destinations around the world
      h1
        | Travel,
        strong enjoy
        | and live a new and full life
      p Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
      .top-block_actions
        a.button.button__yellow(href="#") Find out more
        a.play(href="#")
          span.play_icon
          | Play Demo
